<!DOCTYPE html>

<html>

 <head>
    <link rel="stylesheet" href="./css/style.css">
    <title> About </title>
    <link rel="icon" href="/weather.png">
<body>

    <div class="main-content">

            {{>header}}

            <p> This site was created by Eswar.It uses data from Mapbox.com and WeatherStack.com</p>

     <img class="potrait" src="img.png">

      <p>About Page </p>
    </div>

      

     {{>footer}}

   

    

</body>

 </head>


</html>