<!DOCTYPE html>

<html>

 <head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/weather.png">


    <title> Help </title>
<body>

    <div class="main-content">

         {{>header}}

    <p> Help Page</p>

    </div>

   

    {{>footer}}
    

</body>

 </head>


</html>